.container {
  width:100%;
}

.left {
  float:left;
}

.right {
  float:right;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.logoutButton {
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 20px;
  background: #fff;
  border: 1;
  font-size: 14px;
  cursor: pointer;
}

.allButton {
  font-family: sans-serif;
  padding: 20px;
  background: #fff;
  border: 1;
  font-size: 14px;
  cursor: pointer;
}

.info {
  color: #fff;
  font-size: 20px;
  font-family: sans-serif;
  padding-left: 20px;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  color: #fff;
  padding: 10px;
}

body {
  background: #B30738;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
