.rolldown-list {
  text-align: left;
  padding: 0;
  margin: 0;
}

.rolldown-list li {
  padding: 20px;
  margin-bottom: 5px;
  display: block;
  background-color: #FFF;
  text-align: center;
}

.name {
  display: inline-block;
  font-size: 20px;
  color: #B30738;
  font-weight: bold;
}

.email {
  display: inline-block;
  font-size: 20px;
  color: #0066ff;
  font-weight: bold;
}

.phone {
  display: inline-block;
  font-size: 20px;
  color: #B30738;
  font-weight: bold;
}

.separator {
  display: inline-block;
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}

button {
  font-family: sans-serif;
  text-transform: uppercase;
  background: #FFFFFF;
  border: 1;
  padding: 15px;
  font-size: 14px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

#myList {
  position: absolute;
  width: 50%;
  left: 50%;
  margin-left: -25%;
}
