.rolldown-list {
  padding: 0;
  margin: 0;
}

.rolldown-list li {
  padding: 15px;
  margin-bottom: 10px;
  display: block;
  background-color: #FFF;
  text-align: center;
}

.lab {
  display: inline-block;
  font-size: 20px;
  color: #B30738;
  font-weight: bold;
}

.time {
  display: inline-block;
  font-size: 20px;
  color: #0066ff;
  font-weight: bold;
}

.labButton {
  display: inline-block;
  background-color: #B30738;
  border: none;
  color: white;
  padding: 6px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.separator {
  display: inline-block;
  font-size: 20px;
  color: #595959;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.container {
  width: 100%;
}

.redButton {
  background-color: #B30738;
  border: none;
  color: white;
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.whiteButton {
  background-color: #fff;
  border: none;
  color: black;
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.tasButton {
  margin-left: 20px;
  margin-top: 10px;
}

.logoutButton {
  position: absolute;
  right: 28px;
  top: 18px;
}

.editButton {
  position: absolute;
  right: 30px;
  top: 10px;
}

.subContainer {
  text-align: center;
  border: 10px solid #595959;
  padding: 30px;
  margin: 20px;
  background-color: #B30738;
  position: relative;
}

.accountField {
  font-size: 16px;
  padding-bottom: 6px;
}

h1, h2 {
  text-align: center;
  font-family: sans-serif;
  color: #fff;
  padding: 10px;
}

body {
  background: #fff;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
